<h1>Charities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ein</th>
      <th>Description</th>
      <th>Score overall</th>
      <th>Stars overall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.ein %></td>
        <td><%= charity.description %></td>
        <td><%= charity.score_overall %></td>
        <td><%= charity.stars_overall %></td>
        <td><%= link_to 'Show', api_charity_path(charity) %></td>
        <td>
	  <% if can? :update, charity %>
	  <%= link_to('Edit', rails_admin.edit_path(model_name: 'charity', id: charity.id)) %>
	  <% end %>
	</td>
        <td><% if can? :destroy, charity %> <%= link_to('Destroy', api_charity_path(charity), method: :delete, data: { confirm: 'Are you sure?' }) %><% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Charity %>
<%= link_to 'New Charity', rails_admin.new_path(model_name: 'charity') %>
<% end %>
