<p>
  <strong>Name:</strong>
  <%= @cause.full_name %>
</p>

<% if @cause.parent %>
<p>
  <strong>Parent Cause:</strong>
  <%= @cause.parent.full_name %>
  <%= link_to @cause.parent.full_name, api_cause_path(@cause.parent) %>
</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @cause.description %>
</p>

<% if @cause.charities.size > 0 %>
<p>
  <strong>One Random Charity:</strong>
  <%= link_to 'A random charity', api_charity_path(@cause.charities.sample) %>
</p>
<% end %>

<%# TODO(chandler37): give a paginated list of charities here %>

<% if can? :update, @cause %>
<%= link_to 'Edit', rails_admin.edit_path(model_name: 'cause', id: @cause.id) %> |
<% end %>
<%= link_to 'Back', api_causes_path %>
