<%= form_with(model: charity, local: true) do |form| %>
  <% if charity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charity.errors.count, "error") %> prohibited this charity from being saved:</h2>

      <ul>
      <% charity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :charity_name %>
  </div>

  <div class="field">
    <%= form.label :ein %>
    <%= form.text_field :ein, id: :charity_ein %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :charity_description %>
  </div>

  <div class="field">
    <%= form.label :score_overall %>
    <%= form.text_field :score_overall, id: :charity_score_overall %>
  </div>

  <div class="field">
    <%= form.label :score_financial %>
    <%= form.text_field :score_financial, id: :charity_score_financial %>
  </div>

  <div class="field">
    <%= form.label :score_accountability %>
    <%= form.text_field :score_accountability, id: :charity_score_accountability %>
  </div>

  <div class="field">
    <%= form.label :stars_overall %>
    <%= form.text_field :stars_overall, id: :charity_stars_overall %>
  </div>

  <div class="field">
    <%= form.label :stars_financial %>
    <%= form.text_field :stars_financial, id: :charity_stars_financial %>
  </div>

  <div class="field">
    <%= form.label :stars_accountability %>
    <%= form.text_field :stars_accountability, id: :charity_stars_accountability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
