<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @charity.ein %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

<p>
  <strong>Score overall:</strong>
  <%= @charity.score_overall %>
</p>

<p>
  <strong>Stars overall:</strong>
  <%= @charity.stars_overall %>
</p>

<% if can? :update, @charity %><%= link_to 'Edit', edit_charity_path(@charity) %> | <% end %>
<%= link_to 'Back', charities_path %>
